/* = Сброс отступов для всех элементов */
* { margin: 0; padding: 0 }

/* = Убираем маркировку списков */
ul, ol { list-style: none }

/* = Работаем с таблицами: убираем удвоение рамок ячеек и расстояние между ячейками */
table { border-collapse: collapse; border-spacing: 0 }

/* = Ссылки */
a { text-decoration: none;}

p{line-height: 1.5;}

/* = Убираем рамку для изображений */
img { border: none; height: auto; max-width: 100%; }

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

hr{
	margin: 10px auto;
}

label{vertical-align: middle;}

*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}



html{
	font-family:Tahoma, Verdana, Helvetica, Geneva, sans-serif !important;
	-webkit-font-smoothing:antialiased; 
	text-rendering: optimizeSpeed;
}


body{
	color: #3E4156;
/* 	font-weight: 600;
text-align: center;
line-height: normal; */
	background: url('../images/bg_head.jpg') no-repeat top center ;
	background-size: 100% 390px;
	
	/*-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
	

}

/* = Убираем обводку при клике на элементы форм и др. */
:focus { outline: 0 }

/* = Сбрасываем выравнивание после плавающих элементов */
.clear { clear: both; height: 1px; margin-top: -1px }

/* -------- ОСНОВНАЯ РАЗМЕТКА -------- */

#wrepper{
	width: 1280px;
	margin: 0 auto;

}



/* ---------------------- HEADER -------------------- */

#header{
	height: 380px;
	width: 100%;
	position: relative;
	
}

#logo_block{
	margin-top: 45px;
	float: left;
}
#logo_block > img{

}

#slogan{
	width: 363px;
	height: 75px;
	display: inline-block;
	margin-top: 107px;
	margin-left: 80px;
}
#tell{
	float: right;
	margin-top: 200px;
	margin-right: 60px;
}
#tell p{
	font-size: 24px;
	color: #fff;
	font-weight: 700;
}
/* ----------------------- MENU BLOCK ----------------------- */
#bg_menu{
	width: 1272px;
	height: 466px;
	margin-top: -250px;
	background: url('../images/header_green.png') no-repeat ;
}
#menu_block{
	width: 1236px;
	height: 107px;
	background: url('../images/bg_menu.png') no-repeat center;
	background-size: 95%;
	position: absolute;
	margin: 190px auto 0px 25px;
}
#menu_block ul{
	width: 90%;
	height: 60px;
	margin: 15px auto;
	padding: 5px 40px;
}
#menu_block ul li{
	float: left;
	width: 15%;
	height: 55px;
	margin-left: 10px;
	text-align: center;
}
#menu_block ul li a{
	line-height: 55px;
	font-size: 24px;
	font-weight: 600;
	color: #772509;                                              /*   ЦВЕТ #772509 коричневый*/
	
}